*.class
.settings
bin/
.project
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
